doctype 5
html(lang="en")
  head
    title Jasmine Spec Runner
    link(rel='shortcut icon', type='image/png', href='lib/jasmine/jasmine_favicon.png')
    link(rel='stylesheet', type='text/css', href='lib/jasmine/jasmine.css')
    script(type='text/javascript', src='lib/jasmine/jasmine.js')
    script(type='text/javascript', src='lib/jasmine/jasmine-html.js')
    script(type='text/javascript', src='lib/sinon.js')
    
    // this line includes all app files using connect-assets 
    != js('dependencies')
    
    // include spec files here
    script(type='text/coffeescript', src='specs/collections/loans_collection_spec.coffee')

    // run specs
    script(type='text/coffeescript', src='lib/jasmine/run.coffee')
    script(type='text/javascript', src='lib/coffee-script.js')

  body